{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<div class="top">
  <div class="grid-container">
    <div class="carousel grid-container backgroundCover">
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0"><strong>Learning Agenda Questions Dashboard</strong>
          </p>
          <div class="desktop:grid-col-10">
              <p class="font-ui-md margin-top-0 line-height-mono-4">Explore the dashboard to view the full range of questions included in Agency and Cross-government Learning Agendas. Sort and filter the questions by topic and agency, or search by keyword, to explore where evidence is most needed and discover shared areas of inquiry across the government. </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/learning-agenda-questions-dashboard/" aria-label="Learning Agenda Questions Dashboard">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <p class="font-ui-lg margin-top-0"><strong>Our Vision</strong></p>
        <div class="grid-row padding-bottom-7">
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">Evaluation plays a critical role in evidence-based policymaking, helping agencies determine what is and is not working well and answer questions regarding why, for whom, and under what circumstances. Evaluation.gov provides a central home to learn about the Federal evaluation community and the activities it undertakes.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/about/" aria-label="Our Vision">Explore</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="grid-row padding-bottom-7">
          <p class="font-ui-lg margin-top-0"><strong>The Federal Evaluation Toolkit</strong></p>
          <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4">The Federal Evaluation Toolkit offers curated resources on evaluation - what it is, why it is important, and how it can help agencies execute their missions more effectively. It’s designed for staff at all levels who work with evaluators, need to learn more about evaluation, or want to use evaluation findings to inform decisions.
            </p>
          </div>
          <div class="desktop:grid-col-2 padding-2 text-center">
            <a class="text-no-underline usa-button bg-white border-0 padding-x-4" style="color:#005ea2"
              href="{{site.baseurl}}/evaluation-toolkit/" aria-label="The Federal Evaluation Toolkit">Explore</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>