{% assign resource = include.resource %}
{% assign titleLink = nil %}
{% if resource.link %}
  {% if resource.link contains "://" %}
    {% assign titleLink = resource.link %}
  {% else %}
    {% assign titleLink = resource.link | prepend: '/assets/resources/' | prepend: site.baseurl %}
  {% endif %}
{% endif %}
<div class="event-card padding-bottom-3 margin-top-1">
    <div class="grid-row clearfix shadow-5 radius-lg bg-white padding-2 flex-align-center">
        <div class="tablet:grid-col-12">
            <h3 class="font-sans-md margin-top-0">
                {{ resource.title }}
                <i class="fa fa-info-circle usa-tooltip text-base" data-position="right"
                   title="{% if resource.source %} {{ resource.source }}, {% endif %}{% if resource.year %}{{ resource.year }}{% endif %}"></i>
            </h3>
            <div class="grid-row">
                <div class="desktop:grid-col-9 text-base margin-bottom-1">
                    <div class="display-flex">
                        {{ resource.image }}
                        <strong><p class="margin-top-neg-1 margin-left-05">{{ resource.type }}</p></strong>
                    </div>
                    <div class="display-flex">
                        {% if resource.another_type %}
                        {{ resource.another_image }}
                        <strong><p class="margin-top-neg-1 margin-left-05">{{ resource.another_type }}</p></strong>
                        {% endif %}
                    </div>
                </div>
                <div class="desktop:grid-col-3 text-base margin-bottom-1 margin-top-neg-2">
                    {% if titleLink %}
                    <a class="usa-button usa-button--outline border-0 margin-right-0 padding-1" href="{{ titleLink }}" target="_blank">Open in New Tab</a>
                    {% endif %}
                </div>
            </div>
            <div class="text-base margin-bottom-1">
                <div class="margin-top-neg-2">
                    <p>{{ resource.description | liquify }}</p>
                </div>
            </div>
            <div class="grid-row">

                <div class="desktop:grid-col-10 text-base margin-bottom-1">
                    <div class="margin-top-neg-05">
                        <strong>
                            Keywords
                        </strong>
                        {% for tag in resource.keywords %}
                        {% assign slug_tag = tag | slugify %}
                        <a href="{{ '/keywords/' | append: slug_tag | relative_url }}" class="usa-button btn-primary margin-05 radius-lg padding-1 font-sans-3xs">{{ tag }}</a>
                        {% else %}
                        This resource has no keywords.
                        {% endfor %}
                    </div>
                </div>
                <div class="desktop:grid-col-2 text-base margin-bottom-1">
                    {% if resource.cover_sheet %}
                    <a href="{{ site.baseurl }}/assets/resources/{{ resource.cover_sheet }}"
                       aria-label="{{ resource.title }} Cover Sheet"
                       target="_blank" class="margin-05">Cover Sheet</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
