{% assign resource = include.resource %}
{% assign titleLink = nil %}
{% if resource.link %}
  {% if resource.link contains "://" %}
    {% assign titleLink = resource.link %}
  {% else %}
    {% assign titleLink = resource.link | prepend: '/assets/resources/' | prepend: site.baseurl %}
  {% endif %}
{% endif %}
<div class="event-card padding-bottom-3 margin-top-1">
    <div class="grid-row clearfix shadow-5 radius-card bg-white padding-2 flex-align-center">
        <div class="tablet:grid-col-12 margin-105">
            <h3 class="font-sans-md margin-top-0">
                {{ resource.title }}
                <i class="fa fa-info-circle usa-tooltip text-base" data-position="right"
                   title="{% if resource.citation %} {{ resource.citation }}{% endif %}" aria-label="Info for {{ resource.title }}"></i>
            </h3>
            <div class="grid-row">
                <div class="desktop:grid-col-9 text-base margin-bottom-1 display-flex margin-top-neg-1">
                    {{ resource.image }}
                    <strong><p class="margin-top-0 margin-left-05 margin-right-105 margin-top-5">{{ resource.type }}</p></strong>
                    {% if resource.another_type %}
                    {{ resource.another_image }}
                    <strong><p class="margin-top-0 margin-left-05 margin-top-5">{{ resource.another_type }}</p></strong>
                    {% endif %}
                </div>
                <div class="desktop:grid-col-3 text-base margin-bottom-1 margin-top-neg-1">
                    {% if titleLink %}
                    <a class="usa-button radius-pill padding-y-1 font-sans-3xs" href="{{ titleLink }}" target="_blank" aria-label="Open in New Tab for {{ resource.title }}">Open Resource</a>
                    {% endif %}
                </div>
            </div>
            <div class="text-base-darker margin-bottom-1">
                <div class="margin-top-neg-2">
                    <p>{{ resource.description | liquify }}</p>
                </div>
            </div>
            <div class="grid-row">

                <div class="desktop:grid-col-12 text-base margin-bottom-1">
                    <div class="margin-top-neg-05">
                        <strong>
                            Related Resources
                        </strong>
                        {% for tag in resource.keywords %}
                        {% assign slug_tag = tag | slugify %}
                        <a href="{{ '/keywords/' | append: slug_tag | relative_url }}" class="usa-button btn-primary margin-05 radius-pill padding-y-1 font-sans-3xs margin-top-card">{{ tag }}</a>
                        {% else %}
                        This resource has no keywords.
                        {% endfor %}
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
